$comp: 1024px;
$tablet: 720px;
$phone: 320px;

@mixin adaptiv-to($media) {
  @if $media == phone-screens {
    @media only screen and (max-width: $tablet - 1) {
      @content;
    }
  } @else if $media == tablet-screens {
    @media only screen and (min-width: $tablet) and (max-width: $comp) {
      @content;
    }
  } @else if $media == comp-screens {
    @media only screen and (min-width: $comp + 1) and (min-width: $comp) {
      @content;
    }
  }
}


@mixin border {
  border: 0 solid red;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}


//@font-face {
//  font-family: "Calibri";
//  src: url("../../../font/Calibri.ttf") format('ttf')
//}